*{
    margin: 0;
    padding: 0;

}

.row{
    background-color: #9DB2BF;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #526D82;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.logo{
    border-radius: 50%;
    border: #fff 3px solid;
    width: 190px;
    margin: 30px;
}
.mobillogo {
    display: none;
    border-radius: 50%;
    border: #fff 3px solid;
    width: 190px;
    margin: 30px;
}
#navbarHeader{
    color: #fff;
    font-size: 29px;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 10px;
    transition: all 0.5s ease;
}
#navbarHeader:hover{
    color: #27374D;
    font-size: 29px;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 10px;
}
.personalHeader{
    color:brown; 
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.skillsHeader{
    color:#E57C23; 
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.personalEdHeader{
    color:#8B1874; 
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hobbiestsHeader{
    color:#00DFA2; 
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contactHeader{
    color:#DF2E38; 
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.projectsHeader{
    color:#11009E; 
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.schoolInfo{
    color: #F9F5F6;
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}
.navbarName{
    color: #F9F5F6;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
.personalInformation{
    color: #F9F5F6;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    list-style: none;
}
.name{
    color: #F9F5F6;
    font-size: 40px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}
.skillLogo{
    width: 80px;
    transition: all 0.5s ease;
}
.horizontal-list {
    display: flex;
    list-style: none;
}
  
.horizontal-list li {
    margin-right: 20px; /* İstediğiniz boşluğu ayarlayabilirsiniz */
}
.horizontal-list li:first-child {
    margin-left: 350px; /* İstediğiniz boşluğu ayarlayabilirsiniz */
}
.skillLogo:hover{
    width: 90px;

}
.listeSkills{
    color: #F9F5F6;
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}


.slideImg{
    width: 200px !important;
    align-items: center;
    object-fit: cover;
    margin-bottom: 50px;
}
.slideH5{
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 50px !important;
    color: #27374D !important;
    font-weight: 800 !important;
    -webkit-text-stroke: 1px #fff;
}
.slideP{
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
    color: #27374D !important;
    font-weight: 800 !important;
    -webkit-text-stroke: 1px #fff;
}
.hobbiesImg{
    width: 100px;
    margin: 15px;
}
.hobbiesH5{
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: #F9F5F6;
    margin: 20px;
}
.hobbiesList{
    list-style: none;
    display: flex;
}

  
.hobbiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.hobbiesList li {
    flex: 0 0 200px;
    margin: 20px;
    text-align: center;
}
.contactImg{
    width: 50px;
    transition: all 0.5s ease;
}
.contactList{
    list-style: none;
    display: flex;
}
.contactList li {
    margin-right: 40px; /* İstediğiniz boşluğu ayarlayabilirsiniz */
}
.contactList li:first-child {
    margin-left: 400px; /* İstediğiniz boşluğu ayarlayabilirsiniz */
}
.contactImg:hover{
    width: 90px;

}
.box1 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
.backLabel{
    font-size: 15px;
    font-family: 'Space Grotesk', sans-serif;
    color: #F9F5F6;

}
.contactH1{
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
    color: #F9F5F6;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}
@media screen and (max-width: 768px) {
    body{
        padding-right: 70px !important;
        background-color: #9DB2BF !important;
    }
    .contactList li:first-child {
      margin-left: 0; 
    }
    .horizontal-list li:first-child {
        margin-left: 0; 
      }
      .contactImg{
        width: 40px;
        transition: all 0.5s ease;
    }
    .skillLogo{
        width: 40px;
        transition: all 0.5s ease;
    }
    .contactList li {
        margin-right: 10px; 
    }
    .horizontal-list li {
        margin-right: 10px; 
    }
    .form-control{
        width: 250px !important;
    }
    .mobillogo {
        display: block; 
      }
      .row{
        padding-left: 0 !important;
      }

      .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;

    }
  }